html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;  
  vertical-align: baseline;
  background: transparent;
  min-height: 100%;
  background-color: #f0f0f061;
  font-family: "Helvetica Neue" ,Arial, Helvetica, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
  color: #424242;
}

body {
  font-size: calc(1.3vw + 1.3vh + 0.65vmin);
}

h2{
  font-size: 1em;
}

strong{
  font-size: 0.7em;
}

p{
  font-size: 0.6em;
}

a{
  text-decoration: unset;
}

input[type=submit] { 
  background: #009fe3;
  color: white;
  border: none;
  font-size: 0.5em;
}

input[type=submit]:hover{
  opacity: 0.7;
}


input[type], select {
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 0.5em;
  
}

.logo-centro{
  padding-left: 43%;
}

.logo-centro img{
  width: 183px;
  top: -1rem
}

button{
  width: 126px;
  height: 2.9rem;
  background: #009fe3;
  color: white;
  border: unset;
}

/*
================================================
STYLE HOME
================================================
*/

nav{
  width: 100%;
  display: flex;
  background: #ffd200;
  padding-top: 1.1rem;
  height: 1.6em;
  box-shadow: 0 0 2px 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo img{
  padding-left: 15px;
  width: 6.6em;
  top: -1rem;
}

nav .menu{
  width: 80%;
}

nav .menu-list{
  list-style-type: none;
  display: inline;
}

nav .menu-list li{
  float: left;
}

nav .menu-list .img-perfil{
  border-radius: 60px;
  width: 30px;
  height: 30px;
  position: relative;
  top: -0.1em;
}

nav .logado{
  padding-left: 15.6em;
  
}

nav .deslogado{
  padding-left: 38em;
}

nav a{
  text-decoration: none;  
  color: #424242;
  text-transform: uppercase;
  padding-left: 16px;
  padding-bottom: 1em;  
}

nav a:hover{
  color: #c94a30;  
}

nav li:hover > .sub-menu {
  display: block;
}

nav .menu .sub-menu{
  list-style-type: none;
  position: absolute;
  top: 45px;
  margin-left: 1em;
  background: white;
  min-width: 200px;
  z-index: 1000;
  padding: 0.5em;
  display: none;
}

nav .menu .sub-menu li{
  float: unset;
}

nav .menu-list li a{
  font-size: 0.4em;
}

nav img{
  width: 17px;
  position: relative;
  top: 4px;
  padding-right: 2px;
}

.conteudo{
  display: flex;
  padding: 6.7em 0 0 7.6em; 
}

.conteudo img{
  position: relative;
  top: 1.7rem;
}

.conteudo h3{
  font-weight: bold;
  /* color: white; */
  padding-left: 2.4rem;
  line-height: 2.2rem;
  
}

.form-buscar-grupo input[type=text] {
  width: 72.4%;
  padding: 12px 20px;
  margin: 8px 0 0 2.5em;
  box-sizing: border-box;
   
}

.form-buscar-grupo  input[type=submit] {
  width: 126px;
  height: 2.7rem; 
}

.links-grupo{
  padding: 2rem 0 0 21rem;
}

.dados-viagem{
  margin-top: 3em;
}

.dados-viagem ul{
  list-style: none;  
}

.dados-viagem ul li{
  display: inline;
  background: white;
  padding: 0.7em;  
   
}

.dados-viagem ul li:hover{
  background: #ffd200;
}

.dados-viagem a{
  text-decoration: none;
  padding-left: 1em;
  color: #424242
}

.dados-viagem strong{    
  padding: 0.3em;
  margin-left: 0.5em;
  border-radius: 3em;
  color: #c94a30;
}



/*
================================================
STYLE LOGIN
================================================
*/

.pagina-login{
  padding-top: 3.5em;
}
.login{
  width: 17em;
  height: 14em;
  background: white;
  margin: 0 auto;
}

.img-login img{
  max-width: 9.9em;
  padding: 0.1em 0 0.1em 3.6em;
}


.login .conteudo-texto{
  background: #ffd200; 
  padding: 0.1em 0;
  text-align: center;
}

.login form{
  padding: 1em 0 0 2em;
}

.login input{
  width: 93%;
  margin-top: 3px;
}

.login p{
  text-align: center;  
}

.img-fundo img{
  opacity: 0.4;
  max-width: 100%;
}

.recuperar-senha{
  font-size: 0.5em; 
  float: right;
  padding-right: 1em;
}

/*
================================================
STYLE CADASTRAR USUÁRIO
================================================
*/

.cadastrar-usuario{
  width: 25em;
  background: white;
  height: 25.1em;
  margin: 0em 0 0 9.4em;
  box-shadow: 1px 1px 10px 0;
  position: absolute;
  top: 30px;  
}

.cadastrar-usuario .conteudo-texto{
  background: #ffd200;
  padding: 0.1em 0 1px 2.8em;
}
.form-cadastro{
  padding: 1em 0 5em 2.8em;
}

.cadastrar-usuario input[type], select {
  width: 92%;
  margin-bottom: 0.3rem;
}

.cadastrar-usuario input[type=submit]{
  width: 92%;  
}

/*
================================================
STYLE CADASTRAR VIAGEM
================================================
*/

.page-cadastrar{
  padding: 4em 0 0 8em;
}

.cadastrar-viagem{
  width: 27.2em;
  background: white;
  height: 20em;
  
}

.nav-form{
  background: #ffd200;
  padding: 0.1em 2em;
}

.cadastrar-viagem input[type]{
  width: 100%;
  margin-bottom: 0.3rem;
}

.cadastrar-viagem .form-cadastro-viagem .form-data{
  width: 43.4%; 
}

.cadastrar-viagem select{
  width: 100%;
}

.form-cadastro-viagem{
  padding: 1em 5em 0;
}

.cadastrar-viagem input[type=submit]{
  width: 100%; 
}

.cadastrar-viagem p{
  padding-left: 0.5rem;
}

/*
================================================
STYLE PERFIL USUÁRIO
================================================
*/

.container-perfil{
  background: white;
  width: 32rem;
  height: 30em;
  margin: 7rem 0 0 29rem;
}

.container-perfil a{
  text-decoration: none;
  color: white;  
  
}

.container-perfil button{  
  width: 14em;
  margin-top: 6em;
}

.container-perfil button:hover{ 
  opacity: 0.5;
}

.container-perfil .editar{
  margin-left: 4.8em;
}

.container-perfil .desativar{
  background: #f52046e8;  
}



.container-perfil .titulo{
  background: #ffd200;
  padding: 0.1em 0 0.1em 2em;
}

.container-perfil p{
  padding-left: 2em;
}




/*
================================================
STYLE PESQUISAR GRUPO
================================================
*/

.pesquisa-grupo{
  width: 50%;
  margin: 2em 0 1em 22em;
}

.pesquisa-grupo .card-grupo{
  margin-bottom: 1em;
  transition: opacity 1s;
  opacity: 0;
  box-shadow: 4px 5px 14px -9px;
}

.pesquisa-grupo .card-grupo:hover{
  box-shadow: 0px 0px 15.7px -2px;
  cursor: pointer;
}


.page-loaded .pesquisa-grupo .card-grupo {
  opacity: 1;
}

.pesquisa-grupo .nome-grupo img{
  max-width: 2em;
}

.pesquisa-grupo .nome-grupo span{
  padding-left: 1em;  
  font-weight: bold;
}

.pesquisa-grupo .nome-grupo{
  border-bottom: 1px solid #4242;
  padding: 1em;
  background: #cccccc9e;
}

.pesquisa-grupo .data{
  float: right;
  
}

.pesquisa-grupo .btn-participar{
  background: #ffd200;
  text-align: center;
  padding: 0.6em 0em;
  width: 9em;
  margin-left: 27em;
  
}

.pesquisa-grupo .dados-grupo{
  padding: 1em 0 1em 4.2em;
  background: white;
}

.pesquisa-grupo .btn-participar a{
  text-decoration: none;
  color: #424242;
}

.pesquisa-grupo .btn-participar:hover{
  opacity: 0.7;
}

.form-pesquisar-grupo{
  margin-top: 6rem;
}

.form-pesquisar-grupo input[type=text] {
  width: 40.7%;
  padding: 12px 20px;
  margin: 8px 0 0 21.8em;
  box-sizing: border-box;
  
}

.form-pesquisar-grupo input[type=submit] {
  width: 126px;
  height: 2.7rem;  
}

/*
================================================
STYLE GRUPO
================================================
*/

.form-grupo {
  width: 50%;
  margin: 0 auto;
  padding-top: 3em;

}

.form-grupo input[type=text]{
  width: 43.3em;
  height: 6em;

}

.form-grupo input[type=submit]{  
  width: 103px;  
  height: 2.5rem;
  margin: 0.4em 0 0 2.8em;
  
}

.container-grupo{
  display: flex;
  padding-top: 13em; 
}

.grupo{
  width: 25.4%;
  padding-left: 2em;
  background: white;
  margin-right: 1em; 
}

.grupo img{
  width: 2.5em;
}

.grupo span{
  font-weight: bold;
  position: relative;
  top: -0.5em;
}

.mensagem{
  width: 50%;  
  background: white;
 
}

.mensagem span{
  font-weight: bold;
  position: relative;
  top: -1.1em;
}

table{
  width: 100%;  
  table-layout: fixed;
}

table th{
  word-wrap: break-word;
}

table p{
  font-weight: normal;
  
}

.txt-nao-msg{
  text-align: center;
}


